{% extends "layout.html.twig" %}

{# Titre de la page. #}
{% block title %}
    Accueil | TechNews
{% endblock title %}

{# Contenu de la page. #}
{% block contenu %}


<div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <div class="box-caption">
                <span>spotlight</span>
            </div>
            <!--spotlight-->
            <section class="owl-carousel owl-spotlight">
            {% for spotlight in spotlights %}
                <div>
                    <article class="spotlight-item">
                        <div class="spotlight-img">
                            <img alt="" src="{{ asset('images/product/'~spotlight.FEATUREDIMAGEARTICLE) }}" class="img-responsive" />
                            <a href="{{ url('news_categorie', {libelle : spotlight.LIBELLECATEGORIE | lower}) }}" class="cate-tag">{{spotlight.LIBELLECATEGORIE}}</a>
                        </div>
                        <div class="spotlight-item-caption">
                            <h2 class="font-heading">
                                <a href="{{ url('news_article', { categorie_libelle: spotlight.LIBELLECATEGORIE | lower,
                                                                  article_slug: spotlight.TITREARTICLE | slugify,
                                                                  article_id: spotlight.IDARTICLE }) }}">
                                    {{spotlight.TITREARTICLE}}
                                </a>
                            </h2>
                            <div class="meta-post">
                                <a href="#">
                                    {{spotlight.PRENOMAUTEUR}} {{spotlight.NOMAUTEUR}}
                                </a>
                                <em></em>
                                <span>
                                    {{spotlight.DATECREATIONARTICLE}}
                                </span>
                            </div>
                            <p>{{ spotlight.CONTENUARTICLE | accroche }}</p>
                        </div>
                    </article>
                </div>
            {% endfor %}
            </section>
        
            <!--spotlight-thumbs-->
            <section class="spotlight-thumbs">
                <div class="row">
                {% for article in articles %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="spotlight-item-thumb">
                                <div class="spotlight-item-thumb-img">
                                    <a href="{{ url('news_article', { categorie_libelle: article.LIBELLECATEGORIE | lower,
                                        article_slug: article.TITREARTICLE | slugify,
                                        article_id: article.IDARTICLE }) }}">
                                        <img alt="{{article.TITREARTICLE}}" src="{{ asset('images/product/'~article.FEATUREDIMAGEARTICLE) }}" />
                                    </a>
                                    <a href="{{ url('news_categorie', {libelle : article.LIBELLECATEGORIE | lower}) }}" class="cate-tag">{{article.LIBELLECATEGORIE}}</a>
                                </div>
                                <h3><a href="{{ url('news_article', { categorie_libelle: article.LIBELLECATEGORIE | lower,
                                    article_slug: article.TITREARTICLE | slugify,
                                    article_id: article.IDARTICLE }) }}">{{article.TITREARTICLE}}</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        {{article.PRENOMAUTEUR}} {{article.NOMAUTEUR}}
                                    </a>
                                    <em></em>
                                    <span>
                                        {{article.DATECREATIONARTICLE}}
                                    </span>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>
            </section>
        </div>
        {# Sidebar #}
    {{ render(controller('TechNews\\Controller\\NewsController::sidebar')) }}
    {#{% include "inc/sidebar.html" %}#}
{% endblock contenu %}